{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About The Local Farmer's Market Stand</h1>

    <p class="lead">At The Local Farmer's Market Stand, we believe in sourcing local produce from the DMV's farmers. Our journey started in 2024 when Greg, Joe, and Amanda joined forces to start supplying the Nation's Capital with the freshest produce. Coming from humble beginnings on Georgetown's campus, our team now serves hundreds of DMV residents every week!</p>

    <p>Today, we're proud to offer a wide range of seasonal produce, and specialty items that reflect our passion for delicious food.</p>

    <img class="img-fluid" src="https://dmv.kidsoutandabout.com/sites/default/files/40392862_1985645361456917_7493525833282224128_n.jpg">
{% endblock %}
