{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About The Local Farmer's Market Stand</h1>

    <p class="lead">The Local Farmer's Market Stand, we believe in sourcing local produce from the DMV's farmers. Our journey started in 2024 when Greg, Joe and Amanda joined forces to start supply the Nation's Capital with the freshest produce.</p>

    <p>Today, we're proud to offer a wide range of seasonal produce, and specialty items that reflect our passion for delicious food.</p>

{% endblock %}
